{% extends "layout.html" %}

{% block TitleBar %}
    <ul>
        <li data-s = "TextDiv" >Success</li>
        <li data-s = "LinkDiv" >Error</li>
    </ul>
{% endblock %} 
{% block content %}

{% if 'success' == type %}
    <div class="container-msg">
	    <div class="success">
		    <div class="msg-success">
			    <div class="letter"></div>
		    </div>
		    <div class="shadow"></div>
		    <h1 class="title">Success</h1>
		    <p class="message">Morning-IF It It's Morning,<br>Evining-If It's Evining </p>
            <a class="btn btn-error" href="{{ url_for('Infospage')}}" >Make Memories❤️</a>

     </div>
    </div>
{% elif 'error' == type %}
    <div>
        <div class="error">
        <div class="msg-error">
         <div class="letter"></div>
        </div>
        <div class="shadow"></div>
        <h1 class="title">Error</h1>
        <p class="message">Whoops! Sorry for the inconvenience, something went wrong.💔</p>
        <a class="btn btn-error" href="{{ url_for('Infospage')}}" >Try Again❤️</a>
        </div>
    </div>
{% else %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert-{{category}}">Error: {{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock %} 